*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --common-color: #C4C4C4;
    --blur-text: rgba(0, 0, 0, 0.35);
    --v-margin: 2em;
    --h-margin: 4em;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #D9D9D9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

main{
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 5em 0;
    
    
    
    header{
        width: 100%;
        
        .navs{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid var(--common-color);
            
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
                
                li{
                    color: var(--common-color);
                    list-style: none;
                    width: max-content;
                    margin: .8em .4em;
                    
                    
                    div{
                        h3{
                            font-size: clamp(1.4rem, 1vw, 2rem);
                        }
                    }
                    .wears{
                        color: #000;                        

                        h3{

                        }
                    }
                    .vertical__line{
                        height: clamp(1em, 5vh, 4em);
                        border: solid 1px var(--common-color);
                    }
                    .geen__eclipse{
                        width: 2em;
                    }
                    .dotted__lines{
                        width: clamp(4em, 20vw, 10em);
                        border: dashed 1px var(--common-color);
                    }
                }
            }

            .img{
                
                img{
                width: 6.071em;
                height: 4em;
                }
            }
        }
    }

    main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .container{
            width: 100%;
            display: grid;
            column-gap: 10em;
            grid-template-areas:
            'order__container payment__container'
            'order__container payment__method' ;
        
            .order__container,
            .payment__container,
            .payment__method{
                // border: 3px solid ;
            }

            .order__container{
                width: 100%;
                grid-area: order__container;
                margin: var(--v-margin) var(--h-margin);

                .summary{
                    width: 60%;
                    font-size: clamp(.7rem, .8vw, 1.5rem);
                }

                .item{
                    width: 75%;
                    display: flex;
                    flex-flow: column;
                    border: 1px solid var(--common-color);
                    border-radius: .4em;
                    margin: 3.5em 0;

                    .first__item,
                    .second__item{
                        margin: .6em 1em;
                        display: flex;
                        justify-content: space-between;

                        .img{
                            img{
                                width: 6em;
                                margin: 0 .4em 0 0;
                            }
                        }
                        .text{
                            font-size: clamp(.5rem, .75vw, 1.5rem);
                            font-family: Tahoma;
                            h3{
                                width: 90%;    
                            }
                            .span{
                                color: var(--blur-text);
                                display: flex;
                                justify-content: space-around;
                                font-weight: 600;
                                
                            }
                            h4{
                                
                            }
                        }
                    }
                }

                .delivery__means{

                    .text{
                        display: flex;
                        align-items: center;


                        h3{
                        font-size: clamp(.5rem, .95vw, 1.5rem);
                        margin: 0 .4em;
                        }

                        img{
                            width: 1.5em;
                        }
                    }

                    .delivery{
                        border: 1px solid var(--common-color);
                        border-radius: .2em;
                        display: flex;
                        align-items: center;
                        margin: 1.5em 0;
                        padding-right: 8%;
                        min-height: 2em;

                        .img{
                            width: fit-content;
                            
                            img{
                                width: 5em;
                                margin: .8em 3em 1em 1.5em;
                            }
                        }

                        .text{
                            display: inline-block;
                            font-size: clamp(.6rem, .7vw, 1.5rem);
                            
                            h2{
                                font-family: 'Courier New', Courier, monospace;
                                margin: .2em 0 .5em;
                            }
                            span{
                                font-family: 'Courier New', Courier, monospace;
                                
                            }

                        }

                        .amount{
                            margin-left: auto;

                            h4{
                                font-size: clamp(.5rem, .75vw, 1.5rem);
                            }
                        }
                    }

                    .ups{
                        .amount{
                            h4{
                                color: red;
                            }
                        }
                    }

                }
            }

            .payment__container{
                grid-area: payment__container;
                margin: var(--v-margin) var(--h-margin);

                .text{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    font-size: clamp(.9rem, 1vw, 1.7rem);

                    h5{
                        margin: .5em .2em;
                    }
                }

                .details-add{
                    display: flex;
                    flex-flow: row;

                    .details__container{
                        width: 100%;

                        .details{
                            width: inherit;
                            border: solid 1px var(--common-color);
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            margin: .3em 0;
                            transition: .1s;

                            .img{
                                margin: .7em 1em;
                                img{
                                    width: 7em;
                                }
                            }

                            .card__detail{
                                display: flex;
                                flex-direction: column;
                                margin: 0 2em 0 0;

                                .stars{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    div{
                                        margin-bottom: .3em;
                                    }
                                }
                                .name{
                                    font-size: clamp(.5rem, .8vw, 1.5rem);
                                }

                            }

                            .expiry__date{
                                margin-left: auto;

                                h4,
                                span{
                                    margin: 0 1em 0 0
                                }
                            }
                        }
                        .details:hover{
                            border: solid 1px var(--common-color);
                            box-shadow: 0px 1px 3px 1px #66f;
                            transition: .1s;
                            transform: scale(1.01);
                        }

                        .mastercard{
                            margin: 0 0 2em 0;
                        }
                    }

                    .add{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        margin-left: auto;
                        
                        .img{
                            img{
                                width: 2.5em;
                            }
                        }
                        p{
                            width: max-content;
                            text-align: center;
                            font-size: clamp(.5rem, .9vw, 1.2rem);
                            font-weight: 500;
                            margin: .5em 1em 0 2em;
                        }
                    }

                }
            }

            .payment__method{
                grid-area: payment__method;
                margin: var(--v-margin) var(--h-margin);
                
                --payment-fs: clamp(.6rem, 1.1vw, 1.4rem);
                .choose-payment-text{
                    font-size: var(--payment-fs);
                }

                .card-details-container{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 2.5em 0;

                    .card-details{
                        width: 60%;


                        --padding: .6rem .5rem;
                        .credit-card-container{
                            display: flex;
                            flex-flow: column;
                            margin: 0 0 1em 0;

                            .credit-card{
                            border: 1px solid var(--common-color);
                            display: flex;
                            align-items: center;
                            padding: var(--padding);

                            .img{
                                width: max-content;
                                margin: 0 .9em 0 0;
                                img{
                                    width: 2em;
                                }
                            }
                            .text{
                                font-size: clamp(.8rem, 1.03vw, 1.5rem);
                            }

                            }

                            .card__logo{
                                display: flex;

                                --margin: .3em .5em;

                                img:first-child{
                                    width: 6em;
                                    height: 2em;
                                    margin: var(--margin);
                                }
                                img:last-child{
                                    width: 3em;
                                    height: 2em;
                                    margin: var(--margin);
                                }
                                
                            }
                        }

                        .card__number-container{

                            .number{
                                display: flex;
                                flex-direction: column;
                                margin: 0 0 2em 0;
                                width: 100%;
                                // background-color: #66f;
                                
                                .text{
                                    font-size: var(--payment-fs);
                                    margin: 0 0 .5em;
                                }
                                .card__number{
                                    width: 100%;

                                        input{
                                            width: inherit;
                                            padding: var(--padding);
                                            border: 1px solid var(--common-color);
                                            font-size: clamp(1rem, 1.2vw, 2rem);
                                        }
                                }
                            }
                        }

                        .expiry-date-container{
                            display: flex;
                            flex-direction: column;

                            .text{
                                font-size: clamp(.8rem, 1.1vw, 1.5rem);
                            }

                            .expiry-date{
                                display: flex;
                                justify-content: space-between;

                                .month select,
                                .year select{
                                    padding: .09em .4em;
                                }
                            }
                        }

                    }

                    .cvv-container{
                        width: 30%;
                        
                        .cvv{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                        
                            .card__number{
                                width: inherit;
                                input{
                                    width: inherit;
                                }
                            }
                        }

                    }
                }

                .total-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        font-size: clamp(.6rem, 1.1vw, 1.6rem);
                        line-height: 1.8em;
                        padding: 0 1em;
                    }
                    
                }
                
                .btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button{
                        background-color: hsla(217, 86%, 60%, 1);
                        color: #ffffff;
                        padding: .8em 2.1em;
                        border-radius: .2em;
                        transition: .2s;
                        border: none;
                        
                    }
                    button:hover{
                        background-color: hsla(217, 86%, 30%, 1);
                        transition: .2s;
                        transform: scale(1.01);
                    }
                    
                    

                }
            }
        }
    }
}


