*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --common-color: #C4C4C4;
    --v-margin: 2em;
    --h-margin: 4em;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #D9D9D9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

main{
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 5em 0;
    

    header{
        width: 100%;

        .navs{
            // background-color: rgb(255, 21, 0);
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid var(--common-color);
            
            ul{
                // background-color: rgba(2, 2, 113, 0.282);
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
                
                li{
                    color: var(--common-color);
                    list-style: none;
                    width: max-content;
                    margin: .8em .4em;
                    
                    
                    div{
                        h3{
                            font-size: clamp(1.4rem, 1vw, 2rem);
                        }
                    }
                    .wears{
                        color: #000;                        

                        h3{
                        // font-family: ;
                        }
                    }
                    .vertical__line{
                        height: clamp(1em, 5vh, 4em);
                        border: solid 1px var(--common-color);
                    }
                    .geen__eclipse{
                        width: 2em;
                    }
                    .dotted__lines{
                        width: clamp(4em, 20vw, 10em);
                        border: dashed 1px var(--common-color);
                    }
                }
            }

            .img{
                
                img{
                width: 6.071em;
                height: 4em;
                }
            }
        }
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;

        .container{
            width: 100%;
            display: grid;
            column-gap: 10em;
            grid-template-areas:
            'order__container payment__container'
            'order__container payment__method' ;
        }

        .order__container{
            width: 100%;
            grid-area: order__container;
            margin: var(--v-margin) var(--h-margin);

            .summary{
                width: 60%;
                font-size: clamp(.7rem, .8vw, 1.5rem);
            }

            .item{
                width: 60%;
                display: flex;
                flex-flow: column;
                border: 1px solid var(--common-color);
                border-radius: .4em;
                margin: 3.5em 0;

                .first__item,
                .second__item{
                    margin: .6em 1em;
                    display: flex;
                    justify-content: space-between;

                    .img{
                        img{
                            width: 6em;
                            margin: 0 .4em 0 0;
                        }
                    }
                    .text{
                        font-size: clamp(.5rem, .755w, 1.5rem);
                        h3{
                            
                        }
                        .span{
                            display: flex;
                            justify-content: space-around;
                            
                        }
                        h4{
                            
                        }
                    }
                }
            }
        }
        .payment__container{
            background-color: aquamarine;
            width: 100%;
            grid-area: payment__container;
            margin: var(--v-margin) var(--h-margin);
        }
        .payment__method{
            grid-area: payment__method;
            margin: var(--v-margin) var(--h-margin);
        }

    }
}


